# 1. Imports

In [1]:
import pandas as pd
import boto3
import json

# 2. Loading `dwh.cfg`

In [2]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY = config.get("AWS","KEY")
SECRET = config.get("AWS","SECRET")

CLUSTER_HOST = config.get("CLUSTER","HOST")
CLUSTER_DB = config.get("CLUSTER","DB_NAME")
CLUSTER_DB_USER = config.get("CLUSTER","DB_USER")
CLUSTER_DB_PASSWORD = config.get("CLUSTER","DB_PASSWORD")
CLUSTER_PORT = config.get("CLUSTER","DB_PORT")

IAM_ROLE_NAME = config.get("IAM_ROLE", "ARN")

pd.DataFrame({"Param":
                 ["CLUSTER_HOST", "CLUSTER_DB", "CLUSTER_DB_USER", "CLUSTER_DB_PASSWORD", 
                  "CLUSTER_PORT"],
             "Value":
                 [CLUSTER_HOST, CLUSTER_DB, CLUSTER_DB_USER, CLUSTER_DB_PASSWORD, CLUSTER_PORT]
            })

                 Param                                              Value
0         CLUSTER_HOST  redshift-cluster-1.cng0o506j8ag.us-west-2.reds...
1           CLUSTER_DB                                                dwh
2      CLUSTER_DB_USER                                            dwhuser
3  CLUSTER_DB_PASSWORD                                           Passw0rd
4         CLUSTER_PORT                                               5439

# 3. Test database connection

In [3]:
%load_ext sql

In [9]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(
    CLUSTER_DB_USER, 
    CLUSTER_DB_PASSWORD, 
    CLUSTER_HOST, 
    CLUSTER_PORT,
    CLUSTER_DB
    )
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@redshift-cluster-1.cng0o506j8ag.us-west-2.redshift.amazonaws.com:5439/dwh

In [10]:
%sql SELECT * FROM pg_database;

 * postgresql://dwhuser:***@redshift-cluster-1.cng0o506j8ag.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('dwh', 100, 6, False, True, 100396, '707', '707', 1663, None, None),
 ('dev', 1, 6, False, True, 100396, '0', '0', 1663, None, None),
 ('padb_harvest', 1, 6, False, True, 100396, '0', '0', 1663, None, None),
 ('template1', 1, 6, True, True, 100396, '707', '707', 1663, None, '{rdsdb=CT/rdsdb}'),
 ('template0', 1, 6, True, False, 100396, '707', '707', 1663, None, '{rdsdb=CT/rdsdb}')]

### Use for checking most recent error with loading data into staging tables

In [16]:
%sql SELECT raw_line FROM stl_load_errors LIMIT 1;

 * postgresql://dwhuser:***@redshift-cluster-1.cng0o506j8ag.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('{"artist":null,"auth":"Logged Out","firstName":null,"gender":null,"itemInSession":0,"lastName":null,"length":null,"level":"free","location":null,"met ... (738 characters truncated) ... tion":"Klamath Falls, OR","method":"PUT","page":"NextSong","registration":1541077528796.0,"sessionId":52,"song":"Playa Haters","status":200,"ts":1541',)]

# 4. Test staging tables

In [38]:
%sql SELECT * FROM staging_events LIMIT 2;

 * postgresql://dwhuser:***@redshift-cluster-1.cng0o506j8ag.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[(1556, 'Static-X', 'Logged In', 'Adelyn', 'F', '0', 'Jordan', '183.69261', 'free', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', '1540130971796', 6, 'Dirthouse (Album Version)', 200, 1541691894796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 7),
 (1304, 'Radiohead', 'Logged In', 'Ayleen', 'F', '0', 'Wise', '130.82077000000001', 'free', 'Columbia, SC', 'PUT', 'NextSong', '1541085793796', 70, 'Pop Is Dead', 200, 1541183813796, '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D201 Safari/9537.53"', 71)]

In [22]:
%sql SELECT * FROM staging_songs LIMIT 2;

 * postgresql://dwhuser:***@redshift-cluster-1.cng0o506j8ag.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[(1, 'AR01S3D1187FB50A53', None, None, 'Minnesota', 'Charlie Parr', 'SOCAPBI12AB017A5A6', 'Louis Collins', 211.46077, 0),
 (1, 'AR01WHF1187B9B53B8', None, None, 'Nagoya, Japan', 'Lullatone', 'SOODTYG12A6D4FD341', 'Poppy', 87.53587, 2003)]