# 1. Imports

In [1]:
import pandas as pd
import boto3
import json

# 2. Loading `dwh.cfg`

In [2]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY = config.get("AWS","KEY")
SECRET = config.get("AWS","SECRET")

CLUSTER_HOST = config.get("CLUSTER","HOST")
CLUSTER_DB = config.get("CLUSTER","DB_NAME")
CLUSTER_DB_USER = config.get("CLUSTER","DB_USER")
CLUSTER_DB_PASSWORD = config.get("CLUSTER","DB_PASSWORD")
CLUSTER_PORT = config.get("CLUSTER","DB_PORT")

IAM_ROLE_NAME = config.get("IAM_ROLE", "ARN")

pd.DataFrame({"Param":
                 ["CLUSTER_HOST", "CLUSTER_DB", "CLUSTER_DB_USER", "CLUSTER_DB_PASSWORD", 
                  "CLUSTER_PORT"],
             "Value":
                 [CLUSTER_HOST, CLUSTER_DB, CLUSTER_DB_USER, CLUSTER_DB_PASSWORD, CLUSTER_PORT]
            })

                 Param                                              Value
0         CLUSTER_HOST  redshift-cluster-1.cng0o506j8ag.us-west-2.reds...
1           CLUSTER_DB                                                dwh
2      CLUSTER_DB_USER                                            dwhuser
3  CLUSTER_DB_PASSWORD                                           Passw0rd
4         CLUSTER_PORT                                               5439

# 3. Test database connection

In [3]:
%load_ext sql

In [9]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(
    CLUSTER_DB_USER, 
    CLUSTER_DB_PASSWORD, 
    CLUSTER_HOST, 
    CLUSTER_PORT,
    CLUSTER_DB
    )
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@redshift-cluster-1.cng0o506j8ag.us-west-2.redshift.amazonaws.com:5439/dwh

In [10]:
%sql SELECT * FROM pg_database;

 * postgresql://dwhuser:***@redshift-cluster-1.cng0o506j8ag.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('dwh', 100, 6, False, True, 100396, '707', '707', 1663, None, None),
 ('dev', 1, 6, False, True, 100396, '0', '0', 1663, None, None),
 ('padb_harvest', 1, 6, False, True, 100396, '0', '0', 1663, None, None),
 ('template1', 1, 6, True, True, 100396, '707', '707', 1663, None, '{rdsdb=CT/rdsdb}'),
 ('template0', 1, 6, True, False, 100396, '707', '707', 1663, None, '{rdsdb=CT/rdsdb}')]